*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
body{
    background-image: linear-gradient(to right,#FFB996, #D9EDBF);
}
.navbar{
    height: 80px;
    /* background-color: #0f1111; */
    background-image: linear-gradient(to right,#FFB996, #D9EDBF);
    color:  #0f1111;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    height: 50px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7WGL8Frko2moWhZ7Btes4djsV_VGGrcacQRT8lfjOOw&s);
    background-size: cover;
    width: 100%;
}
.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 1.5px solid  white;
}
.add-icon{
display: flex;
}
/*  box 1 */
.firstpara{
  color: #cccccc;
  font-size: 0.85rem;
  margin-left: 15px;
}

/* box 2 */
.secondpara{
font-size: 1rem;
margin-left: 6px;
}

/* box 3 */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    width: 750px;
    background-color: pink;
    height: 45px;
    border-radius: 3px;
}


.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;
}


.input{
width: 100%;
border: none;
font-size: 1rem;
}

.searchicon{
width: 45px;
display: flex;
justify-content: center;
align-items: center;
font-size: 1.5rem;
background-color: #febd68;
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
color: #0f1111;
}

a{
    text-decoration: none;
    color:  #0f1111;
    font-size: 1.25rem;
}
li{
    list-style-type: none;
} 


/* main section */
.main{
    background-image: url(https://images.unsplash.com/photo-1485322551133-3a4c27a9d925?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGhvcml6b250YWwlMjBpbWFnZSUyMG9mJTIwbGlicmFyeXxlbnwwfHwwfHx8MA%3D%3D);
    height: 500px;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.main-msg{
background-color: white;
color: #0f1111;
height: 40px;
display: flex;
justify-content: center;
align-items: center;
font-size: 0.85rem;
width: 80%;
margin-bottom:25px ;
border-radius: 15px;
}


/*  content   */

.content{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-image: linear-gradient(to right,#FFB996, #D9EDBF);
}
.box{
    height: 400px;
    width: 23%;
    background-color: rgb(33, 230, 203);
    padding: 20px 0px 15px;
    margin-top: 15px;
    border-radius: 15px;
}
.video{
    height: 80%;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.video a img{
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.video iframe{
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.box-content{
    height: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* footer */

footer{
    margin-top: 15px;
}

.footpanel1{
    background-color: #D9EDBF;
    height: 50px;
    color: rgb(0, 81, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;

}

.footpanel2{
    background-image: linear-gradient(to right,#FFB996, #D9EDBF);
    height: 300px;  
    display: flex;
    justify-content: space-evenly;
}
ul{
    padding-top: 50px;
}
ul a{
    display: block;
    font-size: 1rem;
    margin-top: 10px;
}
ul p{
    font-size: 1.5rem;
}

.footpanrl3{
    background-image: linear-gradient(to right,#FFB996, #D9EDBF);
 
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    height: 50px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7WGL8Frko2moWhZ7Btes4djsV_VGGrcacQRT8lfjOOw&s);
    background-size: cover;
    width: 100px;
}

.footpanrl4{
    background-color: #FFB996;
    height: 80px;

}
.pages{
    font-size: 0.85rem;
    padding-top: 25px;
    text-align: center;
}
.copyright{
    padding-top: 10px;
text-align: center;
font-size: 0.85rem;
}


.bg-white{
    background-color: whitesmoke;
    letter-spacing: 3px;
    line-height: 50px;
    padding: 30px;
}
.text-red{
    color: darkred;
    font-size: large;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.center{
    text-align: center;
}

.score{
    color: #0066b9be;
    -webkit-text-stroke: 1px black;
    text-shadow: 2px 2px 2px 2px aliceblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.red{
    color: darkred;
}


/* CSS */
.button-15 {
  background-image: linear-gradient(#42A1EC, #0070C9);
  border: 1px solid #0077CC;
  border-radius: 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  direction: ltr;
  display: block;
  font-family: "SF Pro Text","SF Pro Icons","AOS Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -.022em;
  line-height: 1.47059;
  min-width: 30px;
  overflow: visible;
  padding: 4px 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-15:disabled {
  cursor: default;
  opacity: .3;
}

.button-15:hover {
  background-image: linear-gradient(#51A9EE, #147BCD);
  border-color: #1482D0;
  text-decoration: none;
}

.button-15:active {
  background-image: linear-gradient(#3D94D9, #0067B9);
  border-color: #006DBC;
  outline: none;
}

.button-15:focus {
  box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
  outline: none;
}




/* CSS */
.button-29 {
    position: relative;
    left: 1070px;
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}