*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
body{
    background-image: linear-gradient(to right,#FFB996, #D9EDBF);
}
.navbar{
    height: 80px;
    /* background-color: #0f1111; */
    background-image: linear-gradient(to right,#FFB996, #D9EDBF);
    color:  #0f1111;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    height: 50px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7WGL8Frko2moWhZ7Btes4djsV_VGGrcacQRT8lfjOOw&s);
    background-size: cover;
    width: 100%;
}
.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 1.5px solid  white;
}
.add-icon{
display: flex;
}
/*  box 1 */
.firstpara{
  color: #cccccc;
  font-size: 0.85rem;
  margin-left: 15px;
}

/* box 2 */
.secondpara{
font-size: 1rem;
margin-left: 6px;
}

/* box 3 */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    width: 750px;
    background-color: pink;
    height: 45px;
    border-radius: 3px;
}


.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;
}


.input{
width: 100%;
border: none;
font-size: 1rem;
}

.searchicon{
width: 45px;
display: flex;
justify-content: center;
align-items: center;
font-size: 1.5rem;
background-color: #febd68;
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
color: #0f1111;
}

a{
    text-decoration: none;
    color:  #0f1111;
    font-size: 1.25rem;
}
li{
    list-style-type: none;
} 


/* main section */
.main{
    background-image: url(https://images.unsplash.com/photo-1485322551133-3a4c27a9d925?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGhvcml6b250YWwlMjBpbWFnZSUyMG9mJTIwbGlicmFyeXxlbnwwfHwwfHx8MA%3D%3D);
    height: 500px;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.main-msg{
background-color: white;
color: #0f1111;
height: 40px;
display: flex;
justify-content: center;
align-items: center;
font-size: 0.85rem;
width: 80%;
margin-bottom:25px ;
border-radius: 15px;
}


/*  content   */

.content{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-image: linear-gradient(to right,#FFB996, #D9EDBF);
}
.box{
    height: 400px;
    width: 23%;
    background-color: rgb(33, 230, 203);
    padding: 20px 0px 15px;
    margin-top: 15px;
    border-radius: 15px;
}
.video{
    height: 80%;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.video a img{
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.video iframe{
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.box-content{
    height: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* footer */

footer{
    margin-top: 15px;
}

.footpanel1{
    background-color: #D9EDBF;
    height: 50px;
    color: rgb(0, 81, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;

}

.footpanel2{
    background-image: linear-gradient(to right,#FFB996, #D9EDBF);
    height: 300px;  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
ul{
    padding-top: 50px;
}
ul a{
    display: block;
    font-size: 1rem;
    margin-top: 10px;
}
ul p{
    font-size: 1.5rem;
}

.footpanrl3{
    background-image: linear-gradient(to right,#FFB996, #D9EDBF);
 
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    height: 50px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7WGL8Frko2moWhZ7Btes4djsV_VGGrcacQRT8lfjOOw&s);
    background-size: cover;
    width: 100px;
}

.footpanrl4{
    background-color: #FFB996;
    height: 80px;

}
.pages{
    font-size: 0.85rem;
    padding-top: 25px;
    text-align: center;
}
.copyright{
    padding-top: 10px;
text-align: center;
font-size: 0.85rem;
}
@media (max-width:1000px){
    .box{
        height: 300px;
        width: 40%;
        background-color: rgb(33, 230, 203);
        padding: 20px 0px 15px;
        margin-top: 15px;
        border-radius: 15px;
    }
    .box-content{
        height: 100%;
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

@media (max-width:1200px){
    .box{
        height: 300px;
        width: 30%;
        background-color: rgb(33, 230, 203);
        padding: 20px 0px 15px;
        margin-top: 15px;
        border-radius: 15px;
    }
    .box-content{
        height: 100%;
        margin-left: 2rem;
        margin-right: 2rem;
    }
}
@media (max-width:800px){
    .box{
        height: 300px;
        width: 45%;
        background-color: rgb(33, 230, 203);
        padding: 20px 0px 15px;
        margin-top: 15px;
        border-radius: 15px;
        
    }
    .box-content{
        height: 100%;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .navbar{
        height: 160px;
        /* background-color: #0f1111; */
        background-image: linear-gradient(to right,#FFB996, #D9EDBF);
        color:  #0f1111;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
}

@media (max-width:600px){
  
    .box{
        height: 300px;
        width: 75%;
        background-color: rgb(33, 230, 203);
        padding: 20px 0px 15px;
        margin-top: 15px;
        border-radius: 15px;
    }
    .box-content{
        height: 100%;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .navbar{
        height: 160px;
        /* background-color: #0f1111; */
        background-image: linear-gradient(to right,#FFB996, #D9EDBF);
        color:  #0f1111;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    
} 
@media(max-width:320px){
    .box{
        height: 300px;
        width: 90%;
        background-color: rgb(33, 230, 203);
        padding: 20px 0px 15px;
        margin-top: 15px;
        border-radius: 15px;
    }
    .box-content{
        height: 100%;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .navbar{
        height: 160px;
        /* background-color: #0f1111; */
        background-image: linear-gradient(to right,#FFB996, #D9EDBF);
        color:  #0f1111;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .main{
        background-image: url(https://images.unsplash.com/photo-1485322551133-3a4c27a9d925?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGhvcml6b250YWwlMjBpbWFnZSUyMG9mJTIwbGlicmFyeXxlbnwwfHwwfHx8MA%3D%3D);
        height: 250px;
        background-size: contain;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    
    .main-msg{
    background-color: white;
    color: #0f1111;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    width: 90%;
    margin-bottom:25px ;
    border-radius: 15px;
    }
}
